@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap'); */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  /* font-family: Open-Sans sans-serif; */
  color: white;
  margin: 0;
  padding: 0;
}

.x_small:hover {
  transform: scale(0.905);
}

.small:hover {
  transform: scale(0.925);
}

.medium:hover {
  transform: scale(0.955);
}

.large:hover {
  transform: scale(0.975);
}

.x_large:hover {
  transform: scale(0.985);
}

.animation-slider {
  position: relative;
  animation: slider 12s infinite linear;
}

@keyframes slider {
  0% {
    transform: translateX(0%) translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translateX(-100%) translate3d(0px, 0px, 0px);
  }
}
